[project]
name = "stage-director"
version = "0.1.0"
description = "Add your description here"
authors = [
    { name = "LongbowXXX" },
]
readme = "README.md"
license = { text = "MIT" }
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.128.0",
    "setuptools>=80.9.0",
    "uvicorn[standard]>=0.40.0",
    "websockets>=15.0.1",
    "wheel>=0.45.1",
    "pydantic>=2.12.5",
    "mcp[cli]>=1.25.0",
    "python-dotenv>=1.2.1",
]

[project.optional-dependencies]
dev = [
    "black>=25.12.0",
    "flake8>=7.3.0",
    "flake8-copyright>=0.2.4",
    "mypy>=1.19.1",
    "pytest>=9.0.2",
    "pytest-asyncio>=1.3.0",
    "pytest-cov>=7.0.0",
    "pytest-html>=4.1.1",
    "respx>=0.21.1",
    "sphinx>=8.1.3,<9.0.0",
    "sphinx-rtd-theme>=3.0.2",
    "myst-parser>=4.0.1",
    "sphinxcontrib-mermaid>=1.2.3",
]

[tool.pytest.ini_options]
pythonpath = ["."]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)8s] [%(thread)d] %(message)s (%(filename)s:%(lineno)s)"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"
asyncio_default_fixture_loop_scope = "function"
generate_report_on_test = true

[tool.coverage.run]
branch = true
omit = ["tests/*"]

[tool.mypy]
plugins = []
ignore_missing_imports = true
strict = true
follow_imports = "normal"
strict_optional = true
disallow_untyped_defs = true
disallow_any_unimported = true
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
show_error_codes = true
warn_unused_ignores = true
show_error_context = true
show_column_numbers = true

[tool.black]
target-version = ["py310"]
line-length = 120

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]
