name: VTuber Behavior Engine CI

on:
  push:
    branches: [main]
    paths:
      - "packages/vtuber-behavior-engine/**"
      - ".github/workflows/vtuber-behavior-engine-ci.yml"
  pull_request:
    branches: [main]
    paths:
      - "packages/vtuber-behavior-engine/**"
      - ".github/workflows/vtuber-behavior-engine-ci.yml"

jobs:
  build-vtuber-behavior-engine:
    name: Build vtuber-behavior-engine
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./packages/vtuber-behavior-engine

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install system dependencies for PyAudio
        run: |
          sudo apt-get update
          sudo apt-get install -y portaudio19-dev

      - name: Install uv
        run: pip install uv

      - name: Install dependencies
        run: uv sync --frozen --all-extras # Add --all-extras to install dev dependencies

      - name: Run Flake8
        run: uv run flake8 .

      - name: Run Black check
        run: uv run black . --check

      - name: Run MyPy
        run: uv run mypy .

      - name: Run Pytest
        run: uv run pytest
